nodes/Energize/My_workflow_3 (2).json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "ffc4f554-c1f5-4dac-9351-a7d767a61095",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        360
      ],
      "webhookId": "4d77f2e3-d079-4784-b4c4-1fe28d478585",
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-4093381765",
        "text": "=There are {{ $json.result }} members in the group",
        "additionalFields": {}
      },
      "id": "f39bd2a5-50c9-46ee-9377-da72a7a23d13",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1480,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot6337317464:AAH4VYlP1euTHh3CqnRqG6rco6IFNfwKoF8/getChatMemberCount?chat_id=-4093381765",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "70813d1b-7d75-45d1-aefa-c535378db479",
      "name": "Get ChatMembers Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1060,
        0
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.message.chat.id }}",
              "operation": "equal",
              "value2": "={{ $json.message.chat.id }}"
            }
          ]
        }
      },
      "id": "9096aa40-0c00-498b-8d14-71d5d6593412",
      "name": "Check Chat ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        560
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message.text }}",
        "rules": {
          "rules": [
            {
              "value2": "knoflook"
            },
            {
              "value2": "dice",
              "output": 1
            },
            {
              "value2": "getname",
              "output": 2
            },
            {
              "value2": "getmembercount",
              "output": 3
            }
          ]
        }
      },
      "id": "95956ae6-94ba-40a3-a343-bcc1822bcbb2",
      "name": "IF conditions for knoflookbot",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        600,
        560
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "=https://www.realsimple.com/thmb/_RAP9zu4Y2DzRHZNhG3gfAa1MT4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/health-benefits-of-garlic-2000-482c21fd2d154102a9b7a46ccb34e70a.jpg",
        "additionalFields": {}
      },
      "id": "c0dc908e-9835-4ae8-992f-384399f611e6",
      "name": "Send knoflook picture",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1500,
        380
      ],
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": "=https://api.telegram.org/file/bot6337317464:AAH4VYlP1euTHh3CqnRqG6rco6IFNfwKoF8/{{ $json.result.file_path }}",
        "additionalFields": {}
      },
      "id": "8ebcc471-5713-420a-8afd-06cf634634b4",
      "name": "getuserprofilepicture",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1720,
        1300
      ],
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=your username is {{ $json.message.from.username }}",
        "additionalFields": {}
      },
      "id": "de886155-ea3e-47f0-8894-f94b9319ff6c",
      "name": "Get username",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1460,
        800
      ],
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot6337317464:AAH4VYlP1euTHh3CqnRqG6rco6IFNfwKoF8/getUserProfilePhotos?user_id=6518678337&offset=1",
        "options": {}
      },
      "id": "4cb8dd89-d4e0-4445-802a-a04340d1ea46",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        1360
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot6337317464:AAH4VYlP1euTHh3CqnRqG6rco6IFNfwKoF8/getfile?file_id={{ $json.result.photos[0][0].file_id }}",
        "options": {}
      },
      "id": "797a9eba-cc66-4531-b853-5695e6e577bc",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        1300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "additionalFields": {}
      },
      "id": "da8463af-ddcf-4c48-a32e-d63b9b4ffed5",
      "name": "DICE",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1480,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot6337317464:AAH4VYlP1euTHh3CqnRqG6rco6IFNfwKoF8/sendDice?chat_id={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "options": {}
      },
      "id": "0f1ca894-9c8f-4f47-ae75-1b5f97ccce91",
      "name": "Get Dice Value",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        580
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot6337317464:AAH4VYlP1euTHh3CqnRqG6rco6IFNfwKoF8/getChatMemberCount?chat_id={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "options": {}
      },
      "id": "d28640b1-45ee-4c57-b4bc-8c4c3edcf536",
      "name": "Get Members Count  in Group",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        900
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=You have  {{ $json.result }} members in this group chat.",
        "additionalFields": {}
      },
      "id": "0a8ab7f2-1c3d-46b8-a061-42c70b1e605e",
      "name": "Get Member Count",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1460,
        1000
      ],
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "randomcatpicture",
        "additionalFields": {}
      },
      "id": "90506e00-2e43-44c9-978e-75b79f06469e",
      "name": "Cat",
      "type": "n8n-nodes-energize.cat",
      "typeVersion": 1,
      "position": [
        340,
        1060
      ],
      "credentials": {
        "catApi": {
          "id": "9BpCPl24DsrL4uC5",
          "name": "Cat account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 642099237,
          "message": {
            "message_id": 341,
            "from": {
              "id": 6518678337,
              "is_bot": false,
              "first_name": "Yong Pok",
              "last_name": "Low",
              "username": "YxDragon",
              "language_code": "en"
            },
            "chat": {
              "id": -4093381765,
              "title": "n8nCapyBara",
              "type": "group",
              "all_members_are_administrators": true
            },
            "date": 1698274490,
            "text": "getmembercount"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Chat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ChatMembers Count": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Chat ID": {
      "main": [
        [
          {
            "node": "IF conditions for knoflookbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF conditions for knoflookbot": {
      "main": [
        [
          {
            "node": "Send knoflook picture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Dice Value",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get username",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Members Count  in Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "getuserprofilepicture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dice Value": {
      "main": [
        [
          {
            "node": "DICE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Members Count  in Group": {
      "main": [
        [
          {
            "node": "Get Member Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ec5f07a4-f5b4-486f-a361-9f891451d130",
  "id": "pMdiIfwHaQwOoLQd",
  "meta": {
    "instanceId": "cb07687ccd25b7c9ce8de8c096238212007b42e1068d47f9609fdc54665a6a1a"
  },
  "tags": []
}