cat_workflow.json
{
  "name": "Cat Workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7ccc63fc-bfba-4037-932b-236b87dd600d",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        1780,
        520
      ],
      "webhookId": "7f200d51-e85b-4ff9-ac71-7eddfaae7195",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "displaycatqualities": "yes",
        "additionalFields": {}
      },
      "id": "de60a48e-405f-4ac9-a855-9e201869967b",
      "name": "Cat",
      "type": "n8n-nodes-energize.cat",
      "typeVersion": 1,
      "position": [
        2020,
        520
      ],
      "credentials": {
        "catApi": {
          "id": "Bw0uYKrTmNzZLuYB",
          "name": "Cat account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json[0].url }}",
        "additionalFields": {
          "caption": "=This is a {{ $json[0].breeds[0].name }}, it is also known as  {{ $json[0].breeds[0].alt_names }}\n\n{{ $json[0].breeds[0].description }}\n\nThey have a lifespan of  {{ $json[0].breeds[0].life_span }} years and originate from {{ $json[0].breeds[0].origin }}",
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "id": "e9e125dc-a4d6-414d-ab7a-3d099bf20fb5",
      "name": "Send Cat Picture + Description",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2720,
        360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json[0].url }}",
        "additionalFields": {
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "id": "f3c4992e-96ae-421e-b129-b075c2b1704e",
      "name": "Send Cat Picture",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2720,
        960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json[0].url }}",
        "additionalFields": {
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "id": "97e67fd7-b85b-45b9-99ea-b7171242eaa1",
      "name": "Send Cat GIF",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2720,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[0].breeds[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "703d203c-17b4-4fc9-89d5-cd37c22349ba",
      "name": "Is Breeds Array empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2240,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[0].url }}",
              "operation": "regex",
              "value2": "gif"
            }
          ]
        }
      },
      "id": "102f425c-fdf8-4d0e-9c5e-c17531df7831",
      "name": "Url contain GIF or JPG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2460,
        860
      ]
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 642099268,
          "message": {
            "message_id": 436,
            "from": {
              "id": 6518678337,
              "is_bot": false,
              "first_name": "Yong Pok",
              "last_name": "Low",
              "username": "YxDragon",
              "language_code": "en"
            },
            "chat": {
              "id": -4093381765,
              "title": "n8nCapyBara",
              "type": "group",
              "all_members_are_administrators": true
            },
            "date": 1698761815,
            "text": "sendcatpicturee"
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Cat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cat": {
      "main": [
        [
          {
            "node": "Is Breeds Array empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Breeds Array empty?": {
      "main": [
        [
          {
            "node": "Send Cat Picture + Description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Url contain GIF or JPG?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Url contain GIF or JPG?": {
      "main": [
        [
          {
            "node": "Send Cat GIF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Cat Picture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37d5e98b-3915-4fa5-95cf-a4a1f07d243a",
  "id": "79FVzoFukPJvfaDU",
  "meta": {
    "instanceId": "cb07687ccd25b7c9ce8de8c096238212007b42e1068d47f9609fdc54665a6a1a"
  },
  "tags": []
}