cat_workflow.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7ccc63fc-bfba-4037-932b-236b87dd600d",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        1780,
        520
      ],
      "webhookId": "7f200d51-e85b-4ff9-ac71-7eddfaae7195",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "displaycatqualities": "yes",
        "additionalFields": {}
      },
      "id": "de60a48e-405f-4ac9-a855-9e201869967b",
      "name": "Cat",
      "type": "n8n-nodes-energize.cat",
      "typeVersion": 1,
      "position": [
        2020,
        520
      ],
      "credentials": {
        "catApi": {
          "id": "9BpCPl24DsrL4uC5",
          "name": "Cat account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json[0].url }}",
        "additionalFields": {
          "caption": "=This is a {{ $json[0].breeds[0].name }}, it is also known as  {{ $json[0].breeds[0].alt_names }}\n\n{{ $json[0].breeds[0].description }}\n\nThey have a lifespan of  {{ $json[0].breeds[0].life_span }} years and originate from {{ $json[0].breeds[0].origin }}",
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "id": "e9e125dc-a4d6-414d-ab7a-3d099bf20fb5",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2580,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Logging Data",
              "stringValue": "={{ $json[0].url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "407115ef-696d-4daa-84ce-1c25161bbfc2",
      "name": "Logging",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        3100,
        320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json[0].breeds[0].description }}\n\nThey have a lifespan of  {{ $json[0].breeds[0].life_span }} years and originate from  {{ $json[0].breeds[0].origin }}",
        "additionalFields": {
          "reply_to_message_id": "="
        }
      },
      "id": "9b319718-4391-49f3-990b-cd2b871fe178",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3240,
        840
      ],
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json[0].url }}",
        "additionalFields": {
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "id": "f3c4992e-96ae-421e-b129-b075c2b1704e",
      "name": "Telegram2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2580,
        700
      ],
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "QsoxVWvFymclq7Hb",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[0].breeds }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e9860e74-98c1-488c-a16c-2f723bbc44a3",
      "name": "Checks for Cat Qualities",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2300,
        520
      ]
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 642099268,
          "message": {
            "message_id": 436,
            "from": {
              "id": 6518678337,
              "is_bot": false,
              "first_name": "Yong Pok",
              "last_name": "Low",
              "username": "YxDragon",
              "language_code": "en"
            },
            "chat": {
              "id": -4093381765,
              "title": "n8nCapyBara",
              "type": "group",
              "all_members_are_administrators": true
            },
            "date": 1698761815,
            "text": "sendcatpicturee"
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Cat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cat": {
      "main": [
        [
          {
            "node": "Checks for Cat Qualities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks for Cat Qualities": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3f723b5a-e45b-479c-8244-bde405315eab",
  "id": "79FVzoFukPJvfaDU",
  "meta": {
    "instanceId": "cb07687ccd25b7c9ce8de8c096238212007b42e1068d47f9609fdc54665a6a1a"
  },
  "tags": []
}